@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 600px) {
  font-size: 55%;
}
@layer components {
  .snap-feature {
    @apply snap-y snap-mandatory h-screen overflow-scroll transition-all duration-500 scroll-smooth;
  }
  .nav-bar {
    @apply flex justify-between text-xl fixed top-0 z-10 w-full h-28 px-10 pt-11 items-center;
  }
  .nav-items {
    @apply text-2xl text-slate-900 font-semibold py-2 px-5 rounded-[1rem] md:bg-transparent hover:bg-slate-400 bg-slate-400 bg-opacity-40 hover:bg-opacity-40 duration-500;
  }

  .car-section {
    @apply w-full h-screen snap-always snap-center;
  }
  .car-img {
    @apply w-full h-full object-cover;
  }

  .car-details {
    @apply absolute top-[20%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-center;
  }

  .car-name {
    @apply text-[4rem] text-slate-800 font-medium;
  }

  .car-tagline {
    @apply text-2xl text-slate-700;
  }

  .car-buttons {
    @apply absolute bottom-[10%] lg:bottom-[15%] left-[50%] translate-x-[-50%] translate-y-[-50%] text-center flex-col md:flex-row;
  }

  .btn {
    @apply inline-block text-xl text-white bg-gray-800
font-medium px-10 pt-4 mx-2 rounded-[10rem] text-center w-[25rem] h-16 uppercase;
  }

  .inventory {
    @apply bg-white text-gray-900;
  }

  .down-arrow {
    @apply absolute bottom-[8%] lg:bottom-[10%] left-[49%] translate-x-[-50%] translate-y-[-50%] animate-bounce;
  }
}
